* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    /* position: absolute; */
    /* margin: auto; */
   
}

.wrapper {
    position: relative;
    top: 40% !important;
    background-color: green;
}

#sum-value,
#card-value,
#player {
    display: none;
}